<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>قائمة المستخدمين</strong>
        <!--       <small>Captions</small>-->
      </c-card-header>
      <c-card-body>
<!--        <table [striped]="true" [hover]="true" [bordered]="true" cTable>-->
        <table [striped]="true" [hover]="true" [bordered]="true" cTable datatable [dtOptions]="dtOptions" >
          <thead class="thead-dark">
          <tr>
            <th class="dt-center" scope="col">#</th>
            <th class="dt-center" scope="col">الاسم</th>
            <th class="dt-center" scope="col">البريد الالكتروني</th>
            <th class="dt-center" scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.userId }}</td>
            <td>{{ user.username }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
              <a routerLink="/users/{{ user.userId }}/edit" >Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
